ac_marche_base:
    resource: "@AcMarcheBaseBundle/Controller/"
    type:     annotation
    prefix:   /

acsecurity:
    resource: "@AcSecurityBundle/Controller/"
    type:     annotation
    prefix:   /administration

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

fos_user_group:
    resource: "@FOSUserBundle/Resources/config/routing/group.xml"
    prefix: /group

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"