{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Bienvenue</h3>
    </div>

    <a href="{{ path('acsecurity_user_index') }}">Accéder à la gestion des utilisateurs</a>

{% endblock %}
